*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start Admin Login */
.admin-form {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  width: 500px;
}

.admin-form .form-control {
  margin: 10px 0;
}

.admin-form input[type="submit"] {
  margin: 15px auto;
}
/* End Admin Login */

/* Dashboard Style */
.admin-stats .row > div div {
  transition: all 0.3s ease;
}

.admin-stats .row > div div:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 20px 3px #b0b0b0 !important;
}
.admin-stats .row > div:nth-child(1) div {
  background-image: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
}

.admin-stats .row > div:nth-child(2) div {
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

/*
.admin-stats .row > div:nth-child(3) div {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
}

.admin-stats .row > div:nth-child(4) div {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}
*/
.admin-stats .row > div div p {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}

.admin-stats .row > div div span {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.admin-stats2 .card-header {
  background-color: #343a40;
  color: #fff;
}

.latest-users li:nth-child(odd) {
  background-color: #eee;
}

/* Admin Dashboard */

/* Global Styles */
a:hover {
  text-decoration: none;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.w3-sidebar {
  overflow: visible;
}

.w3-sidebar a {
  transition: all 0.2s linear;
}
.w3-sidebar a:hover {
  background: rgba(0, 0, 0, 0.2) !important;
  color: #fff !important;
}

button.w3-button.w3-xlarge {
  background-color: #343a40 !important;
}

button.w3-button.w3-xlarge:hover {
  color: #fff !important;
}
